@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/*
'Big Shoulders Display'
'Lexend Deca'
*/

:root {
    --orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --darkcyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
}

body {
    background-color: var(--gray);
    font-size: 15px;
    color: var(--white);
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    width: 90vw;
    margin: 5rem auto;
}

section {
    padding: 3.5rem;
}

p {
    margin-bottom: 2rem;
}

h2 {
    color: var(--gray);
    font-family: 'Big Shoulders Display', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

#sedans {
    background-color: var(--orange);
}

#suvs {
    background-color: var(--cyan);
}

#luxury {
    background-color: var(--darkcyan);
}

button {
    background-color: var(--gray);
    border: 2px solid var(--gray);
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
}


#sedans button{
    color: var(--orange);
}
#sedans button:hover{
    background-color: var(--orange);
}

#suvs button {
    color: var(--cyan);
}
#suvs button:hover {
    background-color: var(--cyan);
}

#luxury button {
    color: var(--darkcyan);
}
#luxury button:hover {
    background-color: var(--darkcyan);
}

button:hover {
    color: var(--gray) !important;
    cursor: pointer;
}